@import "./assets/colors.css"; /* Import CSS variables */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sets the background colour (of everything outside of the page) 
to our main bg colour, and stretches it */
@layer base {
    html,
    body {
        @apply bg-primary;
    }
    .text-link {
        @apply cursor-pointer text-primary transition-colors duration-200 visited:text-primary-light hover:text-secondary hover:underline;
    }
}

.reset-tailwind * {
    all: revert !important;
}
